<ion-header>
  <ion-toolbar>
    <ion-title>addMovie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="movieForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre :</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Despricion :</ion-label>
      <ion-input formControlName="despricion" type="text" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">genero :</ion-label>
      <ion-input formControlName="genre" type="text" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de lanzamiento :</ion-label>
      <ion-input formControlName="release_date" type="number" required>
      </ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Añadir pelicula</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
