<ion-header>
  <ion-toolbar>
    <ion-img [src]=""></ion-img>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br/>
      <br/>
  <ion-list>
      <ion-item *ngFor="let movie of Movies">
          <ion-grid> 
              <ion-row align-items-start>
                <ion-col>
                  <h2>Nombre: </h2>
                  <p id="subline">{{movie.name}}</p>
                </ion-col>
                <ion-row align-items-center>
                <ion-col>
                    <h2>Descripcion: </h2>
                    <p id="subline">{{movie.description}}</p>
                </ion-col>
              </ion-row>
              </ion-row>
              <ion-row align-items-start>
                <ion-col>
                    <h2>Genero: </h2>
                    <p id="subline">{{movie.genre}}</p>
                </ion-col>
                <ion-col>
                    <h2>Fecha de lanzamiento: </h2>
                    <p id="subline">{{movie.release_date}}</p>
                </ion-col>
              </ion-row>
          </ion-grid>
          <ion-icon (click)="openModal(movie)" name="create" slot="end"></ion-icon>
          <ion-icon (click)="deleteMovie(movie.id)" name="trash" slot="end"></ion-icon>
      </ion-item>
  </ion-list>
   <br/>
  <ion-button (click)="insertMovie()" expand="block">Añade una pelicula</ion-button>
  <br/>
  <br/>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>